.producto{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 125px;
    border: rgb(218, 218, 218) 1px solid;
    align-items: center;
    justify-content: space-around;
}

.contenedor{
    display: flex;
    gap: 5px;
}

.imagen{
    width: 120px;
    height: 120px;
}
.titulo{
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    font-size: 8px;
}
.precio{
    font-size: 9px;
    text-decoration: line-through;
    color: rgb(136, 136, 136);
}

.descuento{
    font-size: 8px;
    color: white;
    background-color: #08bd08;
    border-radius: 2px;
    padding: 1px 3px; 
}

.preciofinal{
    font-size: 10px;
    
}

.cantidad{
    font-size: 7px;
    margin-left: 5px;
}

.descuento{
    margin-left: 3px;
}

.div-pre-desc{
    width: 80px;
}

.div-precios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
