.producto{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 125px;
    border: rgb(218, 218, 218) 1px solid;
    align-items: center;
    justify-content: space-around;
    width: 238px;
    height: 448px;
}

.contenedor{
    display: flex;
    gap: 5px;
}

.imagen{
    width: 227px;
    height: 227px;

}

.div-titulo{
    text-align: center;
    padding: 5px 3px 0 3px;
}

.titulo{
    margin: 0px;
    display: -webkit-box; 
}

.precio{
    text-decoration: line-through;
    color: rgb(136, 136, 136);
}

.descuento{
    color: white;
    background-color: #08bd08;
    border-radius: 3px;
    padding: 1px 5px;
}

/*.preciofinal{

}*/

.cantidad{
    margin-left: 5px;
}

.div-pre-desc{
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-precios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.link-ver-mas{
    text-decoration: none;
}

.div-ver-mas{
    text-align: center;
    background-color: rgb(8, 188, 8);
    color: white;
    width: 190px;
    border-radius: 2px;
}