.boton{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-comprar{
    border: none;
    border-radius: 2px;
    background-color: #329ee6;
    color: white;
    font-size: 13px;
}
.boton-comprado{
    border: none;
    border-radius: 2px;
    background-color: grey;
    font-size: 13px;
}
